.lista {
  list-style-type: none;
  width: 30%;
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.flagphoto {
  width: 100%;
}

.below {
  display: flex;
  justify-content: space-between;
}

.pars {
  color: black;
}
